
  
.bg-white{
    background-color: white;
}
.bg-grey{
    background-color: #e5e6e9;
    padding: 10px;
}
  

.color-df{
    color: #5d5d5d;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #03bb85 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(247, 255, 236, 0.29) !important;
  }


.content-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 10000;
    height: 65px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    box-shadow: 0px -6px 7px 0px rgba(0,0,0,0.15)
}

body {
    height: 100% !important;
}

.box-placeholders {
    height: 100px;
    width: 100px;
    background-color: #a7a7a7;
    border-radius: 6px;
}
.label-placeholders {
    margin-top: 10px;
    height: 15px;
    width: 100px;
    background-color: #a7a7a7;
    border-radius: 2px;
}
.label-2-placeholders {
    margin-top: 5px;
    height: 15px;
    width: 40px;
    background-color: #a7a7a7;
    border-radius: 2px;
}

.scroll-x{
    width: 10000px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}


.interese-star{
    height: 26px;
    width: 26px;
}

.circle-active{
    padding: 20px;
    border: 1px solid #ffa900;
    border-radius: 140px;
    line-height: 1;
}
.color-active{
    color: #ffa900;
    line-height: 1;
    font-weight: 600;
    font-size: 12px;
}
.color-disabled{
    color: rgba(48, 48, 48, 0.7);
    font-size: 12px;
    font-weight: 300;
}

.circle-disabled{
    padding: 20px;
    border: 1px solid #cbcbcb;
    border-radius: 140px;
}

.cart-shopping-icon{
    font-size: 30px;
    line-height: 1.2 !important
}

.icones-bar{
    font-size: 25px;
}

.profile-pic{
    height: 50px;
    border-radius: 30px;
    box-shadow: 2px 6px 12px 0px rgba(0,0,0,0.25);
}

.bg-alert{
    background:#d3d7dc;
    border: 1px solid #e5e6e9;
    position: absolute;
    position: fixed;
    bottom: 85px;
    right: 0;
    left: 0;
    z-index: 10000;
    height: 95px;
    border-radius: 10px;
    width: 90%;
}

.add-home-screen{
    background: #06bb84;
    font-weight: 700;
    color: white;
    padding: 10px 20px;
    border: none;
    text-align: right;
    box-shadow: 2px 6px 12px 0px rgba(0,0,0,0.25);
    font-size: 11px;
}

.x-btn{
    position: absolute;
    font-size: 15px;
    right: 0%;
    top: 6%;
    color: white;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}



.p-title{
    text-align: left;
    padding-top: 10px;
    font-weight: 200;
}



.box-img-inside {
    height: 90px;
    width: 90px;
    background-color: #a7a7a7;
    border-radius: 6px;
    margin: 10px 10px 10px 5px;
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.11);
}
.box-img {
    border-radius: 6px;
    margin: 8px 2px;
}

.ib-child{
    display: inline-block;
    vertical-align: middle;
    width: 105px;
    /* margin-right: 3px; */
    overflow-wrap: break-word;
}

.descripton-reward{
    overflow-wrap: break-word;
    text-align: center;
    font-weight: 200;
    font-size: 12px;
}

#myWorkContent{
    padding-left: 10px;
    padding-right: 40px;
    width:100%;
    height:160px;
    /* border: 13px solid #bed5cd; */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    box-sizing:border-box;
}